@model MvcApplication1.Models.student
@{
    
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    
}



        <br><br><br><br>
    <br><br><br><br>


<form id="addStudent-form" action="@Url.Action("Students", "Admin")" method="post" >
   <p> Name:                 <input type="text" name="Name" placeholder="Name" required="required" /><br><br></p>
    Father Name:  <input type="text" name="Father_Name" placeholder="Father Name" required="required" /><br><br>
    Email: <input type="email" name="Email" placeholder="Email" required="required" /><br><br>
 Address: <input type="text" name="Address" placeholder="Address" required="required" /><br><br>
    Birth Date: <input type="date" name="Birthdate" required="required" /><br><br>
 @*<input type="text" name="Class" placeholder="Class" required="required" />*@
    Class: <select name="Class">
        <option value="Play Group">Play Group</option>
  <option value="K.G">K.G</option>
  <option value="1">1</option>
  <option value="2">2</option>
        <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
        <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  
    </select><br><br>
    <input  type="submit" value="Add Student"  />

    </form>