@model MvcApplication1.Models.student
@{
    
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    
}



        <br><br><br><br>
      <form action="#" method="post">
      
        <h1>Sign Up</h1>
        
       @* <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
          <label for="name">Name:</label>
          <input type="text" id="name" name="Name" required ="required">
          
            <label for="name">Father Name:</label>
          <input type="text" id="fathername" name="Father_Name" required ="required">
          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="Email" required ="required">
          
          <label for="address">Address:</label>
          <input type="text" id="address" name="Address" required ="required">
          
          <label>Date of Birth:</label>
         
             <input type="datetime-local" name="Birthdate" id="bdaytime" >
             
        </fieldset>*@
        
        <fieldset>
          <legend><span class="number">2</span>Your School Info</legend>
          <label for="class">Class:</label>
          <select name="Class">
              <option value="playGroup">Play Group</option>
              <option value="kg">K.G</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
          </select>
        </fieldset> 
        <input type="submit" name="addStudent" id="hello" @*class="form-control btn btn-login"*@ value="Add Student">
      </form>

<form action="~/Admin/Index">
       <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
          <label for="name">Name:</label>
          <input type="text" id="name" name="Name" required ="required">
          
            <label for="name">Father Name:</label>
          <input type="text" id="fathername" name="Father_Name" required ="required">
          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="Email" required ="required">
          
          <label for="address">Address:</label>
          <input type="text" id="address" name="Address" required ="required">
          
        
             
        </fieldset>
        
    <input type="submit" value="clickme" />
</form>
      
