@{
    ViewBag.Title = "contact";

    if (Session["typeo"] == "home")
    {
        Layout = "~/Views/Shared/_homeLayout.cshtml";
    }
    else if (Session["typeo"] == "teacher")
    {
        Layout = "~/Views/Shared/_teacherLayout.cshtml";
    }
    else if (Session["typeo"] == "student")
    {
        Layout = "~/Views/Shared/_studentLayout.cshtml";
    }
    else if (Session["typeo"] == "admin")
    {
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_homeLayout.cshtml";
    }
    
}

.img-circle {
border-radius: 50%;
}

<section class="contact-wthree jarallax" id="contact">
	<div class="container">
		<h3 class="text-center">Contact Us</h3>
		<div class="col-lg-2 col-md-2 col-sm-2" data-aos="zoom-in">
			<img src="~/images/zzz.JPG" alt="Universal Schnittstelle" class="img-circle img-responsive">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10" data-aos="zoom-in">
			<h4>Be In Touch With Us</h4>
			<p class="contact-agile">We are always available</p>
		</div>
		<div class="col-lg-12" data-aos="zoom-in">
			<ul class="contact-info">
				<li>
					<i class="fa fa-phone-square" aria-hidden="true"></i>
					<p class="contact-p1">0321 4884093</p>
					<p class="contact-p2">0335 1447545</p>
				</li>
				<li>
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<p class="contact-p1"><a href="mailto:mail1@example.com">bcsf14a030@pucit.edu.pk</a></p>
					<p class="contact-p2"><a href="mailto:mail2@example.com">mwaqaryb@gmail.com</a></p>
				</li>
				<li>
					<i class="fa fa-address-book" aria-hidden="true"></i>
					<p class="contact-p1">PUCIT Mall Road,</p>
					<p class="contact-p2">Lahore, Pakistan.</p>
				</li>
			</ul>
		</div>	
		<div class="clearfix"></div>	
		<form id="login-form" action="~/Home/contacting" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="Name" id="username1" tabindex="1" class="form-control" placeholder="Name" value="">
									</div>

            <div class="form-group">
										<input type="text" name="Phone" id="username2" tabindex="2" class="form-control" placeholder="Phone" value="">
									</div><div class="form-group">
										<input type="text" name="Email" id="username3" tabindex="3" class="form-control" placeholder="Email" value="">
									</div>
									<div class="form-group">
										<input type="text" name="Message" id="username4" tabindex="4" class="form-control" placeholder="" value="">
									</div>
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="5" class="form-control btn btn-login" value="Send Message">
											</div>
										
									</div>
									
								</form>	
	</div>
</section>