@{
    ViewBag.Title = "error1";
}

<h2>Error
        User already exists.<br>
</h2>

    <input type="button" value="Back to form" onclick="location.href = '@Url.Action("addTeacher", "Admin")'" />
    <input type="button" value="Go to Home" onclick="location.href = '@Url.Action("adminHome", "Home")    '" />
